body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.card{
    background-color: #fff;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 1rem;
    border-radius: 0.8rem;
}

.card-head img{
    max-width: 15vw;
    border-radius: 0.8rem;

}

.card-body{
text-align: center;
}

.card-title{
    font-weight: 700;
    font-size: 1.25rem;
}

.card-text{
    font-weight: 400;
opacity: 0.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
